/* You can add global styles to this file, and also import other style files */

.container {
    display: block;
    margin: 15px 25px;
}
.right
{
    display: flex;
    justify-content: flex-end;
}
