<section class="container">
    <div class="banner">
        <h3>Web Api & Angular Application Project</h3>
        <h5>Implemented using angular material & angular 14</h5>
        <h6>Features</h6>
        <ul class="col-4">

                <li>.NET Core Api 6.0</li>
                <li>Relational Database</li>
                <li>Master Details View</li>
                <li>Angular 14</li>               
                <li>All datatype</li>
                <li>Angular icon</li>
        </ul>
    </div>
     
</section>

